body {
  background-image: url(./img/kabab.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}



li {
  font-family: var(--poppins);
  list-style: none;
  font-weight: bold;
  transition: 0.3s ease;
  cursor: pointer;
}

.red {
  color: var(--pink);
}

li:hover {
  color: var(--pink);
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tab-content h1 {
  font-family: var(--fredoka);
  font-size: calc(3rem + 2vw);
  text-align: center;
}


.main-row {
  background-color: rgba(223, 222, 214, 0.7);

  width: 75%;
  height: 100%;
}

.red {
  color: red;
}

.image-food {
  width: 200px;
  height: 200px;

}
